$relationship-background: #cddbe8;
$services-background: #c3b7b7;

.relationships {
  border-left: 5px solid $relationship-background;
  .Theader {
    text-align: center;
  }
  h3 {
    font-size: 1.3rem;
    font-weight: 600;
  }
  h4 {
    font-size: 1.2rem;
    font-weight: 600;
  }
}

.header__relationship {
  background-color: $relationship-background;
  padding: 5px;
  height: 2.5rem;
}

.services {
  border-left: 5px solid $services-background;
}

.header__sub__relationship {
  background-color: $services-background;
  padding: 5px;
}

.monitors {
  border-left: 5px solid $services-background;
}
