$app-background-color: #f2f3f5;

.server {
  height: 96.3%;
  background-color: $app-background-color;
  overflow: auto;
  width: 100%;
}

// .tables {
//   height: 96%;
//   background-color: yellowgreen;
//   margin-right: 20px;
//   margin-left: 20px;
//   overflow: auto;
// }

.main-header__server {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  height: 100px; /* Force our height since we don't have actual content yet */
  background-color: #e3e4e6;
  color: slategray;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}
