.server {
  height: 96.3%;
  background-color: violet;
  overflow: auto;
}

// .tables {
//   height: 96%;
//   background-color: yellowgreen;
//   margin-right: 20px;
//   margin-left: 20px;
//   overflow: auto;
// }
