$app-background-color: #f2f3f5;

.server {
  height: 96.3%;
  background-color: $app-background-color;
  overflow: auto;
}

// .tables {
//   height: 96%;
//   background-color: yellowgreen;
//   margin-right: 20px;
//   margin-left: 20px;
//   overflow: auto;
// }
