$app-background-color: #f2f3f5;
.create__server {
  height: 96.3%;
  background-color: $app-background-color;
  width: 100%;
}

.create__server__inner {
  width: 60%;
  margin: 10px auto 10px auto;
}
//forcing card height
.card {
  height: 549px !important;
}
