.sidenav {
  // display: flex; /* Will be hidden on mobile */
  // flex-direction: column;
  // grid-area: sidenav;
  // background-color: #394263;
  width: 15rem;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
}
.sidenav__list {
  padding: 0;
  margin-top: 85px;
  list-style-type: none;
}
.sidenav__list-item {
  color: #ddd;
  position: relative;
}
.sidenav__list-item a {
  // display: block;
  padding: 20px 20px 20px 40px;
  color: #ddd;
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;

  span {
    margin-left: 1rem;
  }
}
.sidenav__list-item a:hover,
.sidenav__list-item a:active,
.sidenav__list-item a:focus,
.sidenav__list-item a.active {
  background-color: #444974;
  cursor: pointer;
  color: #e6bd55;
}

//side border

.sidenav__list-item a::before {
  content: "";
  width: 3px;
  height: 100%;
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom;
  transition: transform 0.2s ease-in-out;
}
.sidenav__list-item a:hover::before,
.sidenav__list-item a:active::before,
.sidenav__list-item a.active::before {
  transform: scaleX(1);
  transition: transform 0.2s ease-in-out;
  background-color: #e6bd55;
}

//logo

.logo__text {
  height: 50px;
  color: #ddd;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 600;

  border-bottom: 1px solid #444974;
  span {
    text-transform: capitalize;
  }
}

.menu__icons {
  font-size: 1.2rem;
  margin-right: 5px;
  text-align: center;
}

.help__center {
  height: 50px;
  display: flex;
  cursor: pointer;
  margin-top: 5rem;
  border-top: 1px solid #444974;

  span {
    margin-left: 0.5rem;
    color: #ddd;
  }
  .menu__icons {
    color: #ddd;
  }
  a {
    padding: 20px 20px 20px 40px;
    color: #ddd;
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
  }
}
