$app-background-color: #f2f3f5;
$dark-color: #26254d;
$light-grey: #e3e4e6;
.grid-container {
  height: 100vh;
  display: flex;
}

.contents {
  width: 100%;
  margin-left: 15rem;
}
.header {
  grid-area: header;
  background-color: $light-grey;
  display: inline-block;
}

.sidenav {
  background-color: $dark-color;
}

.main {
  grid-area: main;
  background-color: $app-background-color;
  height: 96.3%;
}

.footer {
  grid-area: footer;
  background-color: $light-grey;
}
