.grid-container {
  height: 100vh;
  display: flex;
}

.contents {
  width: 100%;
  margin-left: 15rem;
}
.header {
  grid-area: header;
  background-color: #648ca6;
  display: inline-block;
}

.sidenav {
  grid-area: sidenav;
  background-color: #26254d;
}

.main {
  grid-area: main;
  background-color: #8fd4d9;
  height: 96.3%;
}

.footer {
  grid-area: footer;
  background-color: #648ca6;
}
